<launch>

    <node name="puppy_ball_finder" pkg="robot_puppy" type="ballfinder.py" />
    <node name="puppy_image" pkg="image_view" type="image_view">
        <rosparam>
            image: /puppy/image
        </rosparam>
    </node>

    <node name="puppy_main" pkg="robot_puppy" type="main.py" />

</launch>