<launch>

    <node name="soccerbot_ball_finder" pkg="soccerbot" type="ballfinder.py" />
    <node name="soccerbot_ball_image" pkg="image_view" type="image_view">
        <rosparam>
            image: /soccerbot/image
        </rosparam>
    </node>

    <node name="soccerbot_main" pkg="soccerbot" type="main.py" />

</launch>